<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <application
        android:label="keepassux"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AutofillActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="com.example.keepassux.autofill"
            android:excludeFromRecents="true"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
        </activity>
        <meta-data
            android:name="com.keevault.flutter_autofill_service.ACTIVITY_NAME"
            android:value="com.example.keepassux.AutofillActivity" />
        <meta-data
            android:name="com.keevault.flutter_autofill_service.SAVE_ACTIVITY_NAME"
            android:value="com.example.keepassux.AutofillActivity" />
        <meta-data
            android:name="com.keevault.flutter_autofill_service.match_header_drawable_name"
            android:value="ic_autofill_key" />
        <meta-data
            android:name="com.keevault.flutter_autofill_service.pinned_drawable_name"
            android:value="ic_autofill_key" />
        <meta-data
            android:name="com.keevault.flutter_autofill_service.select_another_entry"
            android:value="Buscar otra entrada en KeepassUX" />
        <service
            android:name="com.keevault.flutter_autofill_service.FlutterAutofillService"
            tools:node="remove" />
        <service
            android:name=".KeepassuxAutofillService"
            android:exported="true"
            android:label="KeepassUX"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/service_configuration" />
            <meta-data
                android:name="com.keevault.flutter_autofill_service.unlock_label"
                android:value="Rellenar con KeepassUX" />
            <meta-data
                android:name="com.keevault.flutter_autofill_service.unlock_drawable_name"
                android:value="ic_autofill_key" />
        </service>
        <service
            android:name=".KeepassImeService"
            android:label="@string/keyboard_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
